.intro__span {
  font-size: 24px;
  font-weight: 400;
  line-height: 142%;
  text-align: right;
  color: white;
  margin-top: 10px;
  width: 720px;
  height: 34px;
  position: absolute;
  left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__span {
    max-width: 288px;
    min-height: 34px;
    margin-top: 32px;
    position: none;
  }
}