.places__place-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  text-align: left;
  color: white;
  margin: 0;
  grid-area: title;
  max-width: 460px;
  max-height: 152px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places__place-title {
    max-width: 340px;
    max-height: 46px;
    font-size: 42px;
    line-height: 110%;
    grid-area: title;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__place-title {
    max-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 109%;
    grid-area: title;
    margin: 0 16px 0;
  }
}