.header__logo {
  max-width: 270px;
  max-height: 70px;
  margin: 34px auto 90px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    max-width: 270px;
    max-height: 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 200px;
    max-height: 51.85px;
    margin-bottom: 50.15px;
    margin-top: 20px;
  }
}