.footer__copyright {
  max-height: 16px;
  max-width: 191px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 114%;
  text-align: right;
  margin: 0 auto 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    max-height: 14px;
    max-width: 191px;
    font-size: 14px;
    line-height: 100%;
  }
}