.intro__paragraph {
  color: white;
  margin: 0;
  max-width: 720px;
  max-height: 182px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro__paragraph {
    max-width: 720px;
    max-height: 182px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__paragraph {
    max-width: 288px;
    min-height: 442px;
  }
}