.places__place-image {
  max-height: 460px;
  max-width: 460px;
  grid-area: image;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places__place-image {
    max-width: 340px;
    max-height: 340px;
    grid-area: image;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__place-image {
    max-width: 320px;
    max-height: 320px;
    grid-area: image;
  }
}