.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-grid__items {
    max-width: 720px;
    max-height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: stretch;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid__items {
    max-width: 288px;
    max-height: 1812px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin-bottom: 62px;
    grid-gap: 12px;
  }
}