.cover__title {
  color: white;
  max-height: 76px;
  max-width: 656px;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
  }
}